Checks: >
  *,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-special-member-functions,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -fuchsia-overloaded-operator,
  -fuchsia-default-arguments-calls,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,

CheckOptions:
  - { key: readability-identifier-naming.LocalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase }
  - { key: readability-identifier-naming.PublicMemberCase, value: lower_case }
  - { key: readability-identifier-naming.PublicMemberSuffix, value: "" }
  - { key: readability-identifier-naming.MemberCase, value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix, value: "_" }
  - { key: readability-identifier-naming.StaticConstantCase, value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: "k" }
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantPrefix, value: "k" }

WarningsAsErrors: "*"
InheritParentConfig: false
